@model BeerProduct
@{
    ViewData["Title"] = "Buy me a beer";
}
<h1>@ViewData["Title"]</h1>

@if (Model == null)
{
    <p>Invalid beer id</p>
}
else
{
    <form asp-controller="Purchase" asp-action="PlaceOrder" method="post">
        <p>You are buying "@Model.Description" for €@Model.Price.</p>
        <button class="btn btn-primary">Buy!</button>
    </form>
}
