@{
    ViewData["Title"] = "Payment success";
}
<h1>@ViewData["Title"]</h1>

@*<label asp-for="Nickname"></label>
    <input class="form-control mb-2" asp-for="Nickname" placeholder="Nickname" />

    <label asp-for="Message"></label>
    <input class="form-control mb-4" asp-for="Message" placeholder="Message" />*@

<p>Now you can post a comment from here :)</p>