@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h3 class="my-3">Beer choice</h3>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Small beer</h5>
                <p class="card-text">Price: €2.</p>
                <a asp-controller="Purchase" asp-action="Index" class="btn btn-primary">Buy me this beer!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Medium beer</h5>
                <p class="card-text">Price: €5.</p>
                <a href="#" class="btn btn-primary">Buy me this beer!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Large beer</h5>
                <p class="card-text">Price: €10.</p>
                <a href="#" class="btn btn-primary">Buy me this beer!</a>
            </div>
        </div>
    </div>
</div>

<div>
    @*TODO: make sure we prevent XSS*@
    <h3 class="my-3">People who bought me a beer left the following messages</h3>
    @{
        foreach (var comment in Model.Comments)
        {
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">@comment.Nickname</h5>
                    <p class="card-text">@comment.Message</p>
                </div>
            </div>
        }
    }
</div>
